@media (max-width: 899px) {
    .main-wrapper{
        flex-direction: column;
        width: 100%;
    }
    .protrait{
        width: 90%;
        aspect-ratio: 4/6;
    }
    .personal-content{
        width:90%;
    }
    .nav{
        width: 100%;
    }
    
}
@media (min-width: 900px) {
    .main-wrapper{
        flex-direction: row;
        width: 900px;
    }
    .protrait{
        height: 600px;
        aspect-ratio: 4/6;
    }
    .nav{
        width: 500px;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
}
.nav{
    background-color: #202020;
    height: 60px;
    border-radius: 50px;
    margin-top: 20px;

    display: flex;
    justify-content: space-around;
}
.nav-link{
    color: #2BBA75;
    display: grid;
    align-items: center;
    text-decoration: none
}

.main-wrapper{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    
}
.personal-content{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.protrait{
    background-color: red;
    
    justify-self: center;
    align-self: center;
}
.name-header{
    color:#2BBA75;
    font-weight: bold;
    font-size: 3rem;
}
.info-text{
    color: white;
    font-size: 1.5rem;
}
.info-text::first-line{
    color:#2BBA75;
    font-weight: bold;
}
.link-box{
    width: 50px;
    height: 50px;
}
